<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="matrixSize">Розмір матриці:</label>
    <input type="number" id="matrixSize" formControlName="matrixSize">
    <div *ngIf="dataForm.get('matrixSize').invalid && (dataForm.get('matrixSize').dirty || dataForm.get('matrixSize').touched)">
      <div *ngIf="dataForm.get('matrixSize').errors?.required">Розмір матриці є обов'язковим полем.</div>
      <div *ngIf="dataForm.get('matrixSize').errors?.min">Розмір матриці повинен бути більше 0.</div>
    </div>
  </div>
  <button type="submit" >Почати обробку</button>
</form>
