<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title>Завдання</ion-card-title>
    <ion-list>
      <ion-item>
        <ion-text>
          Розробити сервіс для вирішення наступної задачі
          Заповнити матрицю A[N,N] числами, що рівні добутку індексів. Елементи кратні 3 замінити на 43, кратні 7 на 47, кратні і 3 і 7 на 11. 
         Вивести початкову та  отриману матрицю 
         та виокремити всі числа, що було замінено за допомогою  окремого кольору
         
        </ion-text>
      </ion-item>
    </ion-list>    
  </ion-card>
  <ion-content>
    <table class="matrix">
      <tr *ngFor="let row of matrix">
        <ng-container *ngFor="let element of row">
          <td [ngClass]="{ 'modified': isModified(element) }">{{ element }}</td>
        </ng-container>
      </tr>
    </table>
  
    <div class="modified-elements">
      Змінені елементи: {{ modifiedElements }}
    </div>
  
    <app-data-form (matrixData)="onMatrixDataReceived($event)"></app-data-form>
  </ion-content>
  
  
  
